@import url(./variables.css);

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    padding-bottom:30px;
}

.a{
    box-shadow: none;
    text-decoration: none;
    color:black;
    background-color: var(--blanco);
    height: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);;
}
.container {
    width: 48%;
    margin: 0 auto;
}


#calendar,#calendar2 {
    width: 100%;
    margin: 10px 0;
}

@media (max-width: 1048px) {
    .first-line {
        flex-direction: column;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }
}