/* Estilo para el footer */
footer {
    width: 100%;
    height: auto;  /* El tamaño del footer se ajusta automáticamente al contenido */
    padding: 0px 0;
    display: block;
    position: relative;
    bottom: 0;  /* Esto asegura que el footer esté en la parte inferior de la página */
}

/* Estilo para el área de información dentro del footer */
.footer-info {
    background-color: #002764;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;  /* Espacio entre las columnas */
    padding: 20px 20px;  /* Ajuste del padding */
    color: white;
    font-size: 14px;  /* Tamaño de fuente más pequeño */
}

/* Contenedor para el mapa */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Primer contenedor dentro de .footer-info */
.footer-info > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenedor del iframe */
.iframe-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Estilo para el contenedor del iframe */
.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-color: #f0f0f0;
    top:0px;
}

/* Estilo del iframe dentro del contenedor */
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}