@import url('./variables.css');
body {
    background: linear-gradient(rgba(0, 0, 0, 0.199), rgba(0, 0, 0, 0.212)),url(../img/wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

form{
    width: 50%;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.699);
    background-color: var(--color-fondo);
}

main.container{
    justify-content: center;
}
form input, form select, form textarea{
    width: 100%;
    margin:0;
}

@media (max-width: 1048px) {
    form { 
        width: 100%;
        padding: 10px 15px;
    }
}
@media (max-width: 768px) {
    form {
       
        width: 100%;
        padding: 10px 15px;
    }
}