@import url(./variables.css);

*, *:before, *:after , :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

}

main {
  flex-grow: 1;
}
